@charset "utf-8";
/* 你自己的样式 */
.pageNum{
    background: #00a0e9;
    color: #fff;
    border:1px solid #00a0e9;
}

.triangle-up {
    width:0px;
    height:0px;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:9px solid #999;
    display: inline;
    position: relative;
    top: -12px;
}

.triangle-down {
    width:0;
    height:0;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-top:9px solid #999;
    display: inline;
    position: relative;
    top: 17px;
}
